@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: myFirstFont;
  src: url("/src/Fonts/gilroy-bold-cufonfonts/Gilroy-Bold.ttf");
}

html {
  font-family: myFirstFont;
}

body {
  padding: 10px 10px;

  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    175deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(102, 106, 111, 1) 100%
  );
}
